@model OrderDemo1.Models.OrderHeader

@{
    ViewBag.Title = "结账";
}

<h2>结账</h2>


<script>
    function ok()
    {
        alert("提交订单成功");
    }
</script>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-horizontal">
            <h4>有什么要求我们都会满足你的</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         

           
            <div class="form-group">
                @Html.LabelFor(model => model.Memo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="完成订单" class="btn btn-success" onclick="ok()"/>
                </div>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("回首页", "Index","Home")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
